</div>
<h2><%= @article.title %></h2>


<%= link_to '', edit_article_path(@article), { class: 'fa fa-pencil', aria_hidden: 'true' } %>
<%= link_to '', article_path(@article), { method: :delete, class: 'fa fa-trash', aria_hidden: 'true' } %>
<p><%= raw @markdown.render("#{@article.content}") %></p>
